@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  color: #000000;
}

#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-section {
  background-color: #e8e8e8;
  height: 90vh;
  width: 100vw; 
  transform: skewY(-3deg);
  margin-bottom: 90px;
  margin-left: calc(-50vw + 50%);
  margin-top: -100px; 
  position: relative; /* stays in relative position but and be moved around based on absolute children */
}

.content-wrapper {
  max-width: 1200px;  /* Keep text contained */
  margin: 0 auto;
  padding: 60px 80px;  /* More padding */
  transform: skewY(+3deg);
 
}

.content-title {
  color: #000000;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 650;  /* Bolder/heavier weight */
  font-size: 40px;   /* Larger size */
  text-align: left;
  line-height: 1.2;  /* Tighter line spacing */
  margin-bottom: 30px;  /* Space between title and paragraph */
  text-transform: uppercase;  /* ALL CAPS */
  margin-top: 30px; 
  margin-right: 50%;
}

.content-sub-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;   /* Slightly larger */
  text-align: left;
  line-height: 1.6;  /* More breathing room between lines */
  font-weight: 400;  /* Regular weight */
   
  margin-right: 50%;

}

.photo-circle { /* container div (circle border)*/
  width: 300px;
  height: 300px;
  border-radius: 50%; /* turns square into circle*/
  overflow: hidden; /* clips the image so it stays in the circle */
  cursor: pointer; /* shows a hand cursor */
  transition: all 0.4s ease; /* */
  border: 4px solid #4a6fa5; /* adds a blue border */
  position: absolute; /* thru text other elements act like it doesnt exist, ! it positions itself relative to the nearest parent that has relative position*/
  top: 20%;
  right: 10%; 

}

.photo-circle:hover { /*styles when you hover over the circle */
  width: 380px;
  height: 380px;
  border-radius: 20px;
}

.photo-circle img { /* targets the image */
  width: 100%;
  height: 100%; /* fills the parent container but stretches it*/
    object-fit: cover; /* fill the space but keep the original proportions*/

}

.photo-circle-ppl{
   width: 300px;
  height: 300px;
  border-radius: 50%; /* turns square into circle*/
  overflow: hidden; /* clips the image so it stays in the circle */
  cursor: pointer; /* shows a hand cursor */
  transition: all 0.4s ease; /* */
  border: 4px solid #000000; /* adds a blue border */
  position: absolute; /* thru text other elements act like it doesnt exist, ! it positions itself relative to the nearest parent that has relative position*/
  top: 20%;
  right: 10%; 
}

.photo-circle-ppl:hover{
width: 380px;
height: 380px; 
border-radius: 20px; 
}




@media (max-width: 1000px) {
  .content-title {
    margin-right: 0;
  }

  .content-sub-title {
    margin-right: 0;
  }

}

